* {
  font-family: 'Cairo', sans-serif;
}

body {
  margin: 0;
  background: #141E30;
  background: -webkit-linear-gradient(to right, #243B55, #141E30);
  background: linear-gradient(to right, #243B55, #141E30);
}

.header {
  background: black;
  width: 100%;
  height: 80px;
}

.header__img {
  height: 40px;
  margin: 20px 20px;
}

.header__menu {
  margin: 20px;
}

.header__menu--profile {
  margin-right: 10px;
  width: 40px;
}

.header__menu--profile img {
  width: 40px;
}

.header__menu ul {
  /* display: none; */
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100px;
  text-align: right;
  margin: 0 0 0 -14px;
}

.header__menu ul li {}

.header__menu ul li a {
  /* display: none; */
  text-decoration: none;
  color: white;
}